@import "./colors.css";

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../fonts/Poppins-Bold.ttf) format(".ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins"), url(../fonts/Poppins-Light.ttf) format(".ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing